.fresh-fruit-banner {

  div.img-placeholder {
    height: 500px;
    width: 100%;
    background: white;

    img {
      height: 500px;
      width: 100%;
      .show-hide {
        background: white;
      }

      .show-hide {
        -webkit-transition: 1s linear all; /* Chrome */
        transition: 1s linear all;
        opacity: 0;
      }

      .show-hide.show-hide-active {
        opacity: 1;
      }
    }

    &.img-small {
      height: 250px;
      img {
        height: 250px;
      }
    }

  }
}

