#main-side {
  margin-top: 500px;

  h2 {
    color: @main-green;
    font-size: 1.2em;
    font-family: avoBoldFont;
    background: url("/build/assets/images/leave.png") 0 -2px no-repeat;
    padding-left: 20px;
  }

  .fruit-slide, .package-slide {

    margin: 15px 0 30px;
    clear: both;

    &> div {
      margin: 0;
      padding-left: 0;

      img {
        border-radius: 7px;
        width: 100%;
      }

      div.desc {
        text-align: center;
        span.title {
          text-transform: uppercase;
          font-family: @main-font-bold;
        }
      }

    }

  }

}

