<div class="container about" style="padding-bottom: 35px;">

    <h3>Story</h3>

    <p>We have many expats friends who are living or travelling to Ho Chi Minh. They love tropical fruits but it is not
        easy for them to buy good and fresh fruits. We invited our friends Vietnam pomelo, mango, mangoteen,
        banana...They tried and said that “our fruits are super delicuios”. However it is not easy for them to buy
        fruits in the local market with many troubles: bargain price, which one is good? that one looks strange e.g.</p>

    <p>And</p>

    <p>We are Vietnam passionate fruits lovers. We are here to solve any concerns related tot fruits.</p>

    <ul>
    <li>You love fruits but dont know where to buy, how to choose the quality one?</li>
    <li>You travel to VN and dont know what is special gift from Vietnam?</li>
    <li>You want to try new tropicals fruits but you are worry about its tasks</li>
    </ul>

    <p>We are happy to bring you delicuos and frest fruits.</p>


</div>