<div class="container blog">

    <div class="row">
        <div class="col col-xs-8 main">

            <div class="block">
                <div class="title">THE STANDARD LOREM IPSUM PASSAGE, USED SINCE THE 1500s</div>
                <div class="info">
                    <div class="left">
                        <span><i class="fa fa-calendar"></i> 24/01/2016</span>
                        <span><i class="fa fa-edit"></i> by Fresh Fruit</span>
                    </div>
                    <div class="right">
                        <a href="#"><img src="/assets/images/blog/fb.png"/></a>
                        <a href="#"><img src="/assets/images/blog/twitter.png"/></a>
                        <a href="#"><img src="/assets/images/blog/linkedin.png"/></a>
                    </div>
                </div>
                <div class="image">
                    <img src="/assets/images/blog/banner.png"/>
                </div>

                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa. Cum
                        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                        felis,
                        ultricies
                        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                        fringilla vel,
                        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                        justo.
                        Nullam dictum
                        felis eu pede mollis pretium.</p>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa. Cum
                        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                        felis,
                        ultricies
                        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                        fringilla vel,
                        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                        justo.
                        Nullam dictum
                        felis eu pede mollis pretium.</p>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa. Cum
                        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                        felis,
                        ultricies
                        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                        fringilla vel,
                        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                        justo.
                        Nullam dictum
                        felis eu pede mollis pretium.</p>
                </div>
            </div>

        </div>
        <div class="col col-xs-4 recent">
            <div class="block">
                <div class="image"><img src="/assets/images/blog/default.png"/></div>
                <div class="title">THE STANDARD LOREM IPSUM PASSAGE, USED SINCE THE 1500s</div>
            </div>

            <div class="block">
                <div class="image"><img src="/assets/images/blog/default.png"/></div>
                <div class="title">THE STANDARD LOREM IPSUM PASSAGE, USED SINCE THE 1500s</div>
            </div>

            <div class="block">
                <div class="image"><img src="/assets/images/blog/default.png"/></div>
                <div class="title">THE STANDARD LOREM IPSUM PASSAGE, USED SINCE THE 1500s</div>
            </div>
            <div class="block">
                <div class="image"><img src="/assets/images/blog/default.png"/></div>
                <div class="title">THE STANDARD LOREM IPSUM PASSAGE, USED SINCE THE 1500s</div>
            </div>

            <div class="block">
                <div class="image"><img src="/assets/images/blog/default.png"/></div>
                <div class="title">THE STANDARD LOREM IPSUM PASSAGE, USED SINCE THE 1500s</div>
            </div>

            <div class="block">
                <div class="image"><img src="/assets/images/blog/default.png"/></div>
                <div class="title">THE STANDARD LOREM IPSUM PASSAGE, USED SINCE THE 1500s</div>
            </div>
        </div>
    </div>

</div>