<footer>

    <div class="basic-info">

        <div class="container">

            <div class="col-sm-4 text-left">
                <i class="fa fa-phone"></i> 093-2578-344 &nbsp; &nbsp; <i class="fa fa-envelope"></i> fresh.fruit@gmail.com
            </div>
            <div class="col-sm-4 text-center">

                <a href="#"><i class="fa fa-facebook"></i></a> &nbsp;
                <a href="#"><i class="fa fa-twitter"></i></a> &nbsp;
                <a href="#"><i class="fa fa-linkedin"></i></a> &nbsp;

            </div>
            <div class="col-sm-4 text-right">
                <input type="text" placeholder="please enter your email..." class="form-control subscription-box" name="subscription" />
                <input type="button" class="btn btn-default subscription-btn" value="Submit" />
            </div>

        </div>

    </div>

    <div class="copyright col-sm-12">
        <div class="container">
            <div class="col-sm-6 pull-left"> ©2016 Fresh fruit. All rights reserved.</div>
            <div class="col-sm-6 pull-right text-right"> Terms | Privacy | Policy</div>
        </div>
    </div>

</footer>