<div class="slogan">Let's fruit. Let's be better.</div>

<footer>

    <div class="top">TOP</div>

    <div class="basic-info">

        <div class="container">

            <div class="col-sm-4 text-left">
                <div><i class="fa fa-envelope"></i> fresh.fruit@gmail.com</div>
                <div><i class="fa fa-phone"></i> 093-2578-344</div>
            </div>
            <div class="col-sm-3 text-center socials">

                <a href="#"><img src="/assets/images/icons/home-fb.png" /></a> &nbsp;
                <a href="#"><img src="/assets/images/icons/home-twitter.png" /></a> &nbsp;
                <a href="#"><img src="/assets/images/icons/home-linkedin.png" /></a> &nbsp;
                <a href="#"><img src="/assets/images/icons/home-instagram.png" /></a> &nbsp;

            </div>
            <div class="col-sm-5 text-right">
                <input type="text" placeholder="please enter your email..." class="form-control subscription-box" name="subscription" />
                <input type="button" class="btn btn-default subscription-btn" value="Submit" />
            </div>

        </div>

    </div>

    <div class="copyright col-sm-12">
        <div class="container">
            <div class="col-sm-6 pull-left"> ©2016 Fresh fruit. All rights reserved.</div>
            <div class="col-sm-6 pull-right text-right"> Terms | Privacy | Policy</div>
        </div>
    </div>

</footer>