<div class="container fruit-detail">

    <div class="row">
        <div class="col col-xs-5 image-show">
            <div class="main-img">
                <img src="/assets/images/fruit/grape.png"/>
            </div>
            <div class="col col-xs-3 small-img">
                <img src="/assets/images/fruit/grape.png"/>
            </div>
            <div class="col col-xs-3 small-img">
                <img src="/assets/images/fruit/grape.png"/>
            </div>
            <div class="col col-xs-3 small-img">
                <img src="/assets/images/fruit/grape.png"/>
            </div>
            <div class="col col-xs-3 small-img">
                <img src="/assets/images/fruit/grape.png"/>
            </div>
        </div>
        <div class="col col-xs-7 content">
            <h3><span>GRAPE</span> <span class="divider">|</span> $3 PER KG</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.</p>
            <strong>Nutritional:</strong>
            <p>
                At vero eos et accusamus et iusto odio dignissimos
            </p>
            <ul>
                <li>Similique sunt in culpa qui officia</li>
                <li>Nam libero tempore, cum soluta</li>
                <li>Delectus, ut aut reiciendis voluptatibus</li>
                <li>Itaque earum rerum hic tenetur a</li>
            </ul>
            <strong>Nutritional:</strong>
            <p>
                At vero eos et accusamus et iusto odio dignissimos
            </p>
            <ul>
                <li>Similique sunt in culpa qui officia</li>
                <li>Nam libero tempore, cum soluta</li>
                <li>Delectus, ut aut reiciendis voluptatibus</li>
                <li>Itaque earum rerum hic tenetur a</li>
            </ul>
            <hr/>
            <div class="radio">
                <label><input type="radio" name="optradio">Red Grapes</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">Green Grapes</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio">Black Grapes</label>
            </div>

            <div class="row qty-row">
                <div class="qty">Qty</div>
                <div class="select"><select>
                    <option>1 Kg</option>
                    <option>2 Kg</option>
                    <option>3 Kg</option>
                    <option>4 Kg</option>
                </select></div>
                <div class="btn btn-add-to-cart">
                    Add to cart
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="fruit-item col-sm-4">
            <a href="/#/fruit-detail"><img src="/assets/images/fruit/grape.png"/></a><br/>
            <div class="desc">
                <span class="title">Grape</span><br/>
                <span class="price">35.000 VND/kg</span>
            </div>
        </div>
        <div class="fruit-item col-sm-4">
            <a href="/#/fruit-detail"><img src="/assets/images/fruit/grape.png"/></a><br/>
            <div class="desc">
                <span class="title">Grape</span><br/>
                <span class="price">35.000 VND/kg</span>
            </div>
        </div>
        <div class="fruit-item col-sm-4">
            <a href="/#/fruit-detail"><img src="/assets/images/fruit/grape.png"/></a><br/>
            <div class="desc">
                <span class="title">Grape</span><br/>
                <span class="price">35.000 VND/kg</span>
            </div>
        </div>
    </div>

</div>