<div class="top-bar-wrapper">
    <div class="top-bar">
        <div class="logo-wrapper">
            <img src="build/assets/images/logo.png" />
        </div>
        <div class="authentication-wrapper">
            <a href="#">Signup</a> | <a href="#">Signin</a>
        </div>
    </div>
</div>
<div class="navbar navbar-default">
    <ul>
        <li class="active"><a href="#">home</a></li>
        <li><a href="#">fruit</a></li>
        <li><a href="#">package</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#"><i class="fa fa-shopping-cart"></i> 0</a></li>
    </ul>
</div>