<div class="top-bar-wrapper">
    <div class="container">
        <div class="authentication-wrapper">
            <a href="#">Sign in</a> | <a href="/#/signup">Sign up</a> | <img class="cart" src="/build/assets/images/cart.png"/>
            <div class="cart-total"><span>12</span></div>
        </div>
    </div>
</div>
<div class="navbar navbar-default">
    <div class="container">
        <img src="/build/assets/images/logo.png"/>
        <ul>
            <li ng-class="{'active': currentPage === 'homepage'}"><a href="#">home</a></li>
            <li ng-class="{'active': currentPage === 'about'}"><a href="/#/about">about</a></li>
            <li ng-class="{'active': currentPage === 'fruit'}"><a href="/#/fruit">fruit</a></li>
            <li ng-class="{'active': currentPage === 'package'}"><a href="/#/package">package</a></li>
            <li ng-class="{'active': currentPage === 'blog'}"><a href="/#/blog">blog</a></li>
        </ul>
    </div>
</div>