<div class="container about">

    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
        sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
        aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
        felis eu pede mollis pretium.</p>

    <div class="package-slide col-sm-12">

        <div class="fruit-item col-sm-6" ng-repeat="img in data.packages">
            <img src="{{ img.image }}"/><br/>
            <div class="desc">
                <span class="title">{{ img.title }}</span><br/>
                <span class="price">{{ img.price }}</span>
            </div>
        </div>
    </div>

</div>